page-profile {
    .avatar-frame{border: 2px solid purple;}
    .avatar-frame,.avatar-frame img{
        width: 45px;
        height: 45px;
        -webkit-border-radius: 30px; /* Saf3+, Chrome */
        border-radius: 30px; /* Opera 10.5, IE 9 */
        /*-moz-border-radius: 30px;  Disabled for FF1+ */
    }

    .UNIpurple{
        color: purple;
    }

    .UNIlevel{
        color: purple;
        margin-top:-10px;
        margin-bottom: -2px
    }

    .UNIskills{
        margin-top: -3px;
    }

    .UNIdiv{
        width: 100%;
    }

    .UNItitle{
        margin-top: 10px;
    }

    .UNItag{
        border-radius: 3px;
        border: 1px solid purple;
    }

    .UNIavatar{
        margin-top:-15px;
        width:auto;
    }
}
