page-map {
    #map{
        position: relative;
        height: 100%;
        width: 100%;
    }

    .map-search ion-searchbar {
        width: 100%;
        /* top: 0; */
    }

    .UNImargintop{
        margin-top: 10px;
    }

    .UNIdivmap{
        border: 2px solid purple;
        width: 100%;
    }

    .UNImapimg{
        width: 100px;
        height: 100px;
    }

    .UNIpurple{
        color: purple;
    }
}
