page-createmission {

    .UNIpurple{
        color: purple;
    }

    .UNIicon{
        width: 100px;
        height: 100px;
    }

    .UNIdescription{
        margin-left: 20px;
        margin-top: 5px;
    }

    .UNIdiv{
        width: 100%;
    }

    .UNIlocalization{
        border: 2px solid purple;
        height: 100px;
    }

    .UNIcreator{
        margin-top:-15px;
        margin-left: 10px;
    }

    .UNIreward{
        width: 100%;
        margin-top:-15px;
    }
}